on boot
    exec /sbin/sh /sbin/amonet-fixup.sh

on fs
    exec /sbin/rm -rf /dev/block/bootdevice
    symlink /dev/block/platform/mtk-msdc.0 /dev/block/platform/soc
    symlink /dev/block/platform/mtk-msdc.0 /dev/block/bootdevice
