on init
    # Camera daemon cpuset
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

    # Tune cpusets parameters
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 2-3

on post-fs
    # Use multistream for ZRAM
    write /sys/block/zram0/max_comp_streams 4

    # Swap parameters
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100
    write /proc/sys/vm/dirty_ratio 20
    write /proc/sys/vm/dirty_background_ratio 15
    write /proc/sys/vm/vfs_cache_pressure 50

    # LMK
    write /sys/module/lowmemorykiller/parameters/minfree 6400,7680,11520,25600,35840,38400

    # Increase read-ahead value to 256 kb
    write /sys/block/mmcblk0/queue/read_ahead_kb 256

    # Turn on swap
    swapon_all /fstab.mt8135

on property:sys.boot_completed=1
    write /sys/kernel/mm/ksm/pages_to_scan 200
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1
    setprop sys.io.scheduler bfq

    # Set CPU governor to ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/ondemand/io_is_busy
    chmod 0750 /sys/devices/system/cpu/cpu0/cpufreq/ondemand/io_is_busy
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/ondemand/io_is_busy
    chmod 0750 /sys/devices/system/cpu/cpu2/cpufreq/ondemand/io_is_busy
